pkgbase = jsesh-bin
	pkgdesc = Hieroglyphic text editor packaged from the upstream JSesh binary release
	pkgver = 7.11
	pkgrel = 2
	url = https://github.com/rosmord/jsesh
	arch = any
	license = custom:CeCILL
	license = custom:jsesh-fonts
	makedepends = unzip
	depends = jre21-openjdk
	noextract = JSesh-7.11.zip
	source = https://github.com/rosmord/jsesh/releases/download/release-7.11/JSesh-7.11.zip
	source = jsesh
	source = jsesh.desktop
	source = jsesh-icon.png::https://jsesh.qenherkhopeshef.org/user/pages/01.home/logo.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = jsesh-bin
